aspose-pdf==24.4.0
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
et-xmlfile==1.1.0
Flask==3.0.3
fpdf==1.7.2
idna==3.7
importlib_metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.24.4
openpyxl==3.1.2
pandas==2.0.3
pillow==10.3.0
plum-dispatch==1.7.4
PyExcelerate==0.11.0
PyMuPDF==1.24.4
PyMuPDFb==1.24.3
PyPDF2==2.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
reportlab==3.6.13
requests==2.31.0
six==1.16.0
Spire.Pdf==10.5.2
Spire.Xls==14.4.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
xlsx2pdf==1.0.4
zipp==3.18.1
